# http://editorconfig.org
root = true

############################################################################
## Default
############################################################################
[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4

############################################################################
## Extraordinary files
############################################################################
[Makefile]
indent_style = tab
tab_width = 4

[*.md]
trim_trailing_whitespace = false

[*.csv]
insert_final_newline = false

############################################################################
## Favorite languages
############################################################################
[*.{c,cc,cpp}]
indent_size = 2
max_line_length = 80

[*.{go,s,S}]
indent_style = tab
tab_width = 4

[*.java]
indent_size = 2
max_line_length = 80

############################################################################
## HTML, JS, CSS base languages
############################################################################
[*.{html,htm,tmpl,tpl,css,less,scss,js,jsx,coffee,yml,yaml,toml,json}]
indent_size = 2

############################################################################
## Windows file
############################################################################
[*.bat]
end_of_line = crlf
indent_style = tab
tab_width = 8
