adobe-source-han-sans-jp-fonts
adobe-source-han-serif-jp-fonts
arc-gtk-theme
arc-icon-theme
awesome-terminal-fonts
bspwm
dex
dunst
feh
fontconfig
gtk-engine-murrine
gvim
numlockx
pavucontrol
picom
rofi
slop
sxhkd
sxiv
xclip
xdo
xdotool
xorg-server
xorg-xinit
xorg-xinput
xorg-xmodmap
xorg-xrandr
xorg-xset
xsecurelock
xss-lock
zathura
zathura-pdf-mupdf
