adobe-source-han-sans-jp-fonts
adobe-source-han-serif-jp-fonts
arc-gtk-theme
arc-icon-theme
awesome-terminal-fonts
bspwm
compton
dunst
elementary-icon-theme
feh
firefox
fontconfig
gtk-engine-murrine
gvim
lxappearance
numlockx
pavucontrol
pcmanfm
slop
sxhkd
sxiv
xclip
xdo
xdotool
xorg-server
xorg-xinit
xorg-xinput
xorg-xmodmap
xorg-xrandr
xorg-xset
zathura
zathura-pdf-mupdf
