adobe-source-han-sans-jp-fonts
adobe-source-han-serif-jp-fonts
awesome-terminal-fonts
breeze-gtk
breeze-icons
bspwm
compton
dunst
firefox
fontconfig
gtk-engine-murrine
gvim
lxappearance
nitrogen
numlockx
pavucontrol
pcmanfm
rofi
sxhkd
sxiv
xbindkeys
xclip
xdo
xdotool
xorg-server
xorg-xinit
xorg-xinput
xorg-xmodmap
xorg-xrandr
xorg-xset
zathura
zathura-pdf-mupdf
