a2jmidid
accountsservice
alsa-tools
alsa-utils
ansible
archlinux-keyring
arm
boost
chromium
cmake
compton
dunst
feh
fontconfig
fzf
git
gnome-themes-standard
go
graphviz
gsfonts
gsimplecal
gtk-engine-murrine
gvim
haveged
imagemagick
intel-ucode
jack2
lm_sensors
lua
lxappearance
maim
mpv
nitrogen
numlockx
pacmatic
pass
pavucontrol
pbzip2
pcmanfm
php
picocom
pigz
pulseaudio-alsa
pulseaudio-jack
python-dbus
python-gobject
python-xdg
python2-dbus
rdesktop
ripgrep
rsync
ruby
rustup
skk-jisyo
sylpheed
sysstat
tig
tor
torsocks
ttf-fira-mono
ttf-symbola
uim
unclutter
weechat
xclip
xdotool
xorg-server
xorg-server-xephyr
xorg-server-xwayland
xorg-utils
xorg-xinit
xorg-xinput
xorg-xmodmap
xorg-xrandr
xorg-xset
yaourt
zathura
zathura-pdf-mupdf
zip
zsh
