abduco
accountsservice
alsa-tools
alsa-utils
ansible
archlinux-keyring
awesome-terminal-fonts
boost
breeze-icons
bspwm
cmake
compton
dunst
dvtm
firefox
fontconfig
fzf
git
gnome-themes-standard
go
gsfonts
gtk-engine-murrine
gvim
haveged
imagemagick
intel-ucode
lm_sensors
lxappearance
mpv
mutt
nitrogen
notmuch
notmuch-mutt
numlockx
pacmatic
pass
pavucontrol
pbzip2
pcmanfm
php
pigz
pulseaudio-alsa
python-dbus
python-gobject
python-xdg
python2-dbus
ripgrep
rofi
rsync
rxvt-unicode
skk-jisyo
sxhkd
sxiv
tig
tor
torsocks
ttf-fira-mono
ttf-symbola
uim
weechat
xbindkeys
xclip
xdo
xdotool
xorg-server
xorg-server-xephyr
xorg-server-xwayland
xorg-xinit
xorg-xinput
xorg-xmodmap
xorg-xrandr
xorg-xset
zathura
zathura-pdf-mupdf
zip
zsh
zsh-syntax-highlighting
