accountsservice
alsa-tools
alsa-utils
ansible
archlinux-keyring
boost
bspwm
chromium
cmake
compton
dunst
dzen2
fontconfig
fzf
git
gnome-themes-standard
go
gsfonts
gtk-engine-murrine
gvim
haveged
imagemagick
intel-ucode
lm_sensors
lua
lxappearance
mpv
nitrogen
numlockx
pacmatic
pass
pavucontrol
pbzip2
pcmanfm
php
picocom
pigz
pulseaudio-alsa
python-dbus
python-gobject
python-xdg
python2-dbus
rdesktop
ripgrep
rsync
ruby
rustup
rxvt-unicode
skk-jisyo
sxhkd
sxiv
sylpheed
sysstat
tig
tor
torsocks
ttf-fira-mono
ttf-symbola
uim
unclutter
weechat
xclip
xdo
xdotool
xorg-server
xorg-server-xephyr
xorg-server-xwayland
xorg-utils
xorg-xinit
xorg-xinput
xorg-xmodmap
xorg-xrandr
xorg-xset
yaourt
zathura
zathura-pdf-mupdf
zip
zsh
