#!/bin/sh

# Default browser
export BROWSER='firefox'

# Override i3-sensible-terminal
export TERMINAL=lilyterm
export COLORTERM=lilyterm

# Keyboard
setxkbmap -layout us -variant altgr-intl -option ctrl:nocaps
xset r rate 200 30
numlockx on

# Mouse Speed
xinput set-prop 8 'libinput Accel Speed' -0.5

