#!/bin/sh

# Default browser
export BROWSER='firefox'

# Override i3-sensible-terminal
export TERMINAL=st
export COLORTERM="${TERMINAL}"

export LANG=ja_JP.utf8

# Keyboard
xset r rate 200 30
numlockx on
