[general]
wm_name=bspwm_panel
height=25
vertical_offset=1
line_width=2

[font]
global=sans-serif:size=10:bold
icons=FontAwesome:size=12:bold

[color]
default_fg=#ffd8d2e0
default_bg=#cc101010

m_fg=#dddcdf
m_bg=#cc101010

M_fg=#d1d0d8
M_bg=#cc90143b

f_fg=#505050
f_bg=#cc101010

F_fg=#ffd8d2e0
F_bg=#cc101010

o_fg=#939996
o_bg=#cc101010

O_fg=#ffd8d2e0
O_bg=#cc101010

u_fg=#f15d66
u_bg=#cc101010

U_fg=#501d1f
U_bg=#ccd5443e

state_fg=#d8d2e0
state_bg=#cc101010

title_fg=#d8d2e0
title_bg=#cc101010

sys_fg=#d8d2e0
sys_bg=#cc101010

