[general]
fifo=/tmp/panel-fifo-${DISPLAY:-:0}
wm_name=bspwm_panel
height=30

[font]
global=monospace:size=10
icons=FontAwesome:size=11

[color]
default_bg=#ff101010
default_fg=#ffded0b4

m_fg=#dddcdf
m_bg=#101010

M_fg=#d1d0d8
M_bg=#8c143b

f_fg=#737171
f_bg=#101010

F_fg=#000000
F_bg=#504e4e

o_fg=#836936
o_bg=#101010

O_fg=#d77c42
O_bg=#303030

u_fg=#f15d66
u_bg=#101010

U_fg=#501d1f
U_bg=#d5443e

state_fg=#89b09c
state_bg=#303030

title_fg=#d8d2e0
title_bg=#101010

sys_fg=#d8d2e0
sys_bg=#4c444b

