[Desktop Entry]
Version=1.0
Name=Remmina アプレット
Comment=アプレットメニューからリモートデスクトップに接続する
Icon=org.remmina.Remmina
Exec=remmina -i
Terminal=false
Type=Application
Hidden=true
